{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "24.0"
        },
        "modules": "commonjs"
      }
    ],
    ["@babel/preset-react"],
    [
      "@babel/typescript",
      {
        "onlyRemoveTypeImports": false
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "./src",
        "rootPathPrefix": "~/src"
      }
    ],
    // 更新到7.18.0后唯一正确的用法
    // https://babeljs.io/docs/en/babel-plugin-proposal-decorators#legacy
    ["@babel/plugin-proposal-decorators", { "version": "legacy" }],
    "@babel/plugin-transform-class-properties"
  ]
}
