registry "https://registry.npmmirror.com"
#   源配置为: https://registry.npmmirror.com/dist 看起来不对, 换成淘宝node地址
#   disturl "https://registry.npmmirror.com/dist"
nvm_nodejs_org_mirror "https://registry.npmmirror.com/mirrors/node"
NODEJS_ORG_MIRROR "https://registry.npmmirror.com/mirrors/node"
sass_binary_site "https://registry.npmmirror.com/mirrors/node-sass"
electron_mirror "https://registry.npmmirror.com/mirrors/electron/"
SQLITE3_BINARY_SITE "https://registry.npmmirror.com/mirrors/sqlite3"
profiler_binary_host_mirror "https://registry.npmmirror.com/mirrors/node-inspector/"
node_inspector_cdnurl "https://registry.npmmirror.com/mirrors/node-inspector"
selenium_cdnurl "https://registry.npmmirror.com/mirrors/selenium"
puppeteer_download_host "https://registry.npmmirror.com/mirrors"
chromedriver_cdnurl "https://registry.npmmirror.com/mirrors/chromedriver"
operadriver_cdnurl "https://registry.npmmirror.com/mirrors/operadriver"
phantomjs_cdnurl "https://registry.npmmirror.com/mirrors/phantomjs"
fse_binary_host_mirror "https://registry.npmmirror.com/mirrors/fsevents"
sharp_binary_host "https://registry.npmmirror.com/mirrors/sharp"
sharp_libvips_binary_host "https://registry.npmmirror.com/mirrors/sharp-libvips"
#   配置msvs版本
# msvs_version 2015 # 本地开发使用2015 
msvs_version 2019 # 但是github发布需要2019