registry "https://registry.npmmirror.com"
#   源配置为: https://npm.taobao.org/dist 看起来不对, 换成淘宝node地址
#   disturl "https://npm.taobao.org/dist"
nvm_nodejs_org_mirror "https://npmmirror.com/mirrors/node/"
NODEJS_ORG_MIRROR "https://npmmirror.com/mirrors/node/"
sass_binary_site "https://npmmirror.com/mirrors/node-sass/"
electron_mirror "https://npmmirror.com/mirrors/electron/"
SQLITE3_BINARY_SITE "https://npmmirror.com/mirrors/sqlite3/"
profiler_binary_host_mirror "https://npmmirror.com/mirrors/node-inspector/"
node_inspector_cdnurl "https://npmmirror.com/mirrors/node-inspector/"
selenium_cdnurl "https://npmmirror.com/mirrors/selenium/"
puppeteer_download_host "https://npmmirror.com/mirrors/"
chromedriver_cdnurl "https://npmmirror.com/mirrors/chromedriver/"
operadriver_cdnurl "https://npmmirror.com/mirrors/operadriver/"
phantomjs_cdnurl "https://npmmirror.com/mirrors/phantomjs/"
fse_binary_host_mirror "https://npmmirror.com/mirrors/fsevents/"
sharp_binary_host "https://npmmirror.com/mirrors/sharp/"
sharp_libvips_binary_host "https://npmmirror.com/mirrors/sharp-libvips/"
#   配置msvs版本
# msvs_version 2015 # 本地开发使用2015 
# msvs_version 2019 # 但是github发布需要2019
msvs_version 2022 # github发布需要2022
#   配置python执行路径
# python "C:/Users/yaoze/AppData/Local/Microsoft/WindowsApps"