# registry "https://registry.npmmirror.com"
# sass_binary_site "https://npmmirror.com/mirrors/node-sass/"
# electron_mirror "https://npmmirror.com/mirrors/electron/"
# SQLITE3_BINARY_SITE "https://npmmirror.com/mirrors/sqlite3"
# sharp_binary_host "https://npmmirror.com/mirrors/sharp"
# sharp_libvips_binary_host "https://npmmirror.com/mirrors/sharp-libvips"
#   配置msvs版本
# msvs_version 2022 # 本地开发使用2022
msvs_version 2022 # github发布需要2022
