.src_page_home_index_tsx {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .home-tab-extra {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 18px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 13px;
  }
}
